.submit-image {
  border-radius: 4px;
  border: 2px solid whitesmoke;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  bottom: 5px;
  left: 10px;
  background: white;
}

.video-container {
  max-width: 600px;
  margin: 0px auto;
}

canvas {
  background-color: black;
}

video {
  width: 100%;
  background: rgba(0, 0, 0, 1);
}

.video-options {
  width: 100%;
}

.card {
  margin: 30px 20px 20px 16px;
}

.btn, .btn:hover, .btn:active, .btn:visited {
  background-color: #a0b0bb !important;
  border: 1px dotted black;
}

.image-legend {
  float: left;
  margin: 4%;
}

.image-legend ul {
  padding: 0;
  float: left;
  list-style: none;
}
.image-legend ul li {
  font-size: 80%;
  margin-bottom: 3%;
}
ul.legend-labels li span {
  float: left;
  height: 0.55em;
  width: 3.3em;
  margin-right: 0.55em;
  margin-top: 4%;
}
